body{
    background-color: #00ffcc;
}
h1{
    text-align: center;
}
p a{
    font-weight:bolder;
}
.bordered{
    border: 1px solid black;
    border-radius: 25px;
}
h3{
    color: grey;
    font-size: 12px;
}
p{
    margin-bottom: 20px;
}
strong{
    margin-right: 12px;
}
strong:nth-child(2){
    margin-left: 8px;
}
#contact{
    padding: 12px 0px 12px 0px;
}
